body {
    background-image: url("../images/page1.jpg");
    background-size: contain;
    border-image-repeat: stretch;
}
#privacyArt {
    position: relative;
    width: 80%;
    display: inline-block;
    padding: 10px;

    background-attachment: scroll;
    background-image: url("../images/Bulbbot.png");
    background-repeat: no-repeat;
    background-position: left bottom;

}

#asideContent
{
    background-color: lightcyan;
    width: 20%;
    height: auto;
    position: relative;
    float: right;
    padding: 5px;
}

#articleAndAside
{
    display: flex;
    position: relative;
    
}

@media (min-width: 1025px)
{
    #privacyArt {
        column-count: 4;
        column-gap: 25px;
        text-align: justify;
        background-color: skyblue;
    }

}
@media (max-width: 1024px) and (min-width: 480px)
{
    #privacyArt {
        column-count: 3;
        column-gap: 30px;
        text-align: justify;
        background-color: skyblue;
    }
}

@media (max-width: 479px)
{
    #privacyArt {
        column-count: 2;
        column-gap: 20px;
        text-align: justify;
        background-color: silver;
    }
}

@media (min-width: 700px) and (max-width: 900px)
{
    #privacyArt {
        color: purple;
        text-align: left;
    }
}